@font-face {
    font-family: 'Open Sans';
    src: url(../font/OpenSans-Regular.ttf) format("truetype");
}

[v-cloak] {
    display: none;
}

html {
    width: 100%;
    height: 100%;
}

body * {
    outline: 0;
    font-family: 'Open Sans';
}

body {
    float: left;
    padding:0;
    margin: 0;
    background-color: #252526;
    font-family: 'Open Sans';
    user-select: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.w100{
  width: 100%;
}

.tc {
    text-align: center;
}

/*ALERTIFY*/
.alertify .alert > *, 
.alertify .dialog > *{
    border-radius: 3px;
}

.alertify .alert .msg,
.alertify .dialog .msg {
    color: #333;
}
/*ALERTIFY*/

button {
    cursor: pointer;
    border: 0;
}

.main {
    float: left;
    width: 100%;
    height: 100%;
}

.main.update {
    height: calc(100% - 40px);
}

/*TOP*/
    .top {
        position: relative;
        float: left;
        width: 100%;
        height: 50px;
        background:#333 url(../img/logo.png) no-repeat center;
    }

    .back-to-main-btn {
        float: left;
        width: 36px;
        height: 36px;
        border-radius: 3px;
        margin: 7px 20px;
        background: url(../img/back.png) no-repeat center;
    }

    #brightness {
        -webkit-appearance: none;
        width: 100px;
        height: 2px;
        background: #5b5b5c;
        margin: 24px 5px;
        cursor: pointer;
    }

    #brightness::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        position: relative;
        border: 7px solid royalblue;
        z-index: 99;
    }

    .translate-window-btn {
        float: right;
        width: 36px;
        height: 36px;
        border-radius: 3px;
        margin: 7px 20px;
        background: url(../img/translate.png) no-repeat center;
    }

    .translate-window-btn:hover,
    .back-to-main-btn:hover,
    .active-top-btn {
        background-color: #222;
    }

    .translate-form {
        text-align: center;
        position: fixed;
        top: 50px;
        right: 18px;
        width: 470px;
        background-color: #1b1b1b;
        border-radius: 5px;
        z-index: 99999999;
        padding: 15px 20px;
        box-shadow: 0px 0px 15px -2px rgb(10,10,10);
    }

    .translate-form textarea {
        padding: 10px;
        border-radius: 2px;
        color: #eee;
        background-color:#363636;
        width: calc(100% - 20px);
        height: 120px;
        border:0;
        margin: 10px 0px 0px 0px;
        resize: none;
        line-height: 22px;
        font-size: 13px;
    }

    .translate-form select {
        border-radius: 50px;
        font-size: 14px;
        color: #eee;
        padding: 4px 10px;
        background-color: #363636;
        border:0;
    }

    .trans-char-count {
        padding: 0px 0px 0px 0px;
        color: #555;
        margin-bottom: -7px;
        font-size: 13px;
    }

    #switch-languages {
        width: 26px;
        height: 26px;
        background: url(../img/switch.png) no-repeat;
    }

    #translate-btn,
    #clear-translate-btn {
        padding: 6px 30px;
        border-radius: 25px;
        color: #eee;
        font-size: 14px;    
        margin: 10px 0px 0px 0px;
    }

    #clear-translate-btn {
        background-color: #252526;
    }
    
    #trans-loader {
        position: relative;
        width: 50px;
        height: 10px;
        margin: 20px 0px 0px 125px;
    }

    #trans-loader div {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: royalblue;
        position: absolute;
        animation-duration: 0.5s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }

    .dot1, .dot2 {
        left: 0;
    }

    .dot3 { left: 1em; }

    .dot4 { left: 2em; }

    @keyframes reveal {
        from { transform: scale(0.001); }
        to { transform: scale(1); }
    }

    @keyframes slide {
        to { transform: translateX(1em) }
    }

    .dot1 {
        animation-name: reveal;
    }

    .dot2, .dot3 {
        animation-name: slide;
    }

    .dot4 {
        animation-name: reveal;
        animation-direction: reverse;
    }


/*TOP*/


/*SIDEBAR*/
    .sidebar {
        position: relative;
        width: 218px;
        height: calc(100% - 50px);
        float: left;
        border-right: 2px solid #212121;
    }

    .sidebar ul {
        width: 218px;
        float: left;
        margin: 0px 0px 10px 0px;
        padding: 0;
        list-style: none;
        height: calc(50% - 45px);
        overflow: hidden;
    }

    .sidebar ul:hover {
        overflow-y: auto;
    }

    .sidebar ul li {
        float: left;
        padding: 2px 1px;
    }

    .sidebar ul li:hover {
        background-color: #2b2b2b;
        color:white;
    }

    .sidebar h5 {
        float: left;
        display: block;
        position: relative;
        padding: 5px 13px;
        margin: 0px;
        font-size: 15px;
        color: #fff;
        font-weight: normal;
    }

    .sidebar h5 span {
        display: block;
        border-radius: 3px;
        padding: 3px 6px;
        color: #eee;
        font-size: 12px;
        margin: 0px 5px;
        float: right;
        background-color: #1e1e1e;
    }

    .book-list {
        float: left;
        box-sizing: border-box;
        width: 214px;
        text-align: left;
        border: 1px dashed transparent;
        color: #919292;
    }

    .book-list.active {
        border-left: 5px solid royalblue;
        color: white;
    }

    .book-list span {
        font-size: 14px;
        cursor: pointer;
        padding: 9px 0px 9px 15px;
        width: 150px;
        display: block;
        float: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .search-box {
        border: 0;
        width: 170px;
        padding: 8px 15px;
        border-radius: 50px;
        background: #1b1b1b url(../img/search.png) no-repeat 170px center;
        margin: 10px;
        color: #eee;
    }

    .search-box:hover,
    .search-box:focus {
        background-color: #1e1e1e;
    }

    .sidebar-bottom{
        border-top: 2px solid #212121;
        padding-top: 10px;
    }

    #add-new-list-input {
        border-radius: 50px;
        border: 0px;
        padding: 6px 10px;
        margin: 0px 0px 10px 4px;
        background-color: #333;
        color: white;
    }

    .royal {
        background-color: royalblue;
    }

    .royal:hover {
        background-color: #4b71e2;
    }

    .royal:active {
        background-color: #2951c7;
    }

    .dred {
        background-color: #E60501;
    }

    .dred:hover {
        background-color: #E91818;
    }

    .dred:active {
        background-color: #B30802;
    }

    #add-new-list-btn {
        padding: 7px 30px;
        border-radius: 25px;
        color: white;
    }
    
    .add-list-book {
        float: right;
        display: block;
        width: 20px;
        height: 18px;
        cursor: pointer;
        margin: 10px 0px;
        background: url(../img/add.png) no-repeat;
    }

    .remove-list-btn {
        float: right;
        display: none;
        width: 20px;
        position: relative;
        height: 18px;
        cursor: pointer;
        margin: 8px 0px;
        background: url(../img/trash.png) no-repeat;
    }

    .book-list:hover > .remove-list-btn {
        display: block;
    }

/*SIDEBAR*/


.books-content {
    position: relative;
    width: calc(100% - 240px);
    height: calc(100% - 70px);
    float: left;
    margin: 0;
    padding: 9px;
    overflow-y: auto;
    text-align: center;
}

.books-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.books-content ul li {
    display: inline-block;
    padding: 0;
    margin: 10px 15px;
    box-shadow: 0px 1px 1px #222;
}

#book-loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #2b2b2b;
    opacity: 0.9;
    z-index: 99999;
}

.spinner {
  margin: 100px auto;
  width: 80px;
  height: 100px;
  text-align: center;
  font-size: 25px;
}

.spinner > div {
  background-color: royalblue;
  height: 100%;
  width: 10px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.books-content::-webkit-scrollbar-track,
.sidebar ul::-webkit-scrollbar-track,
.translate-form textarea::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

.books-content::-webkit-scrollbar{
    width: 10px;
}

.sidebar ul::-webkit-scrollbar,
.translate-form textarea::-webkit-scrollbar {
	width: 7px;
}

.books-content::-webkit-scrollbar-thumb,
.sidebar ul::-webkit-scrollbar-thumb,
.translate-form textarea::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.book {
    width: 110px;
    height: 195px;
    padding: 9px;
    border-radius: 3px;
    background-color: #333333;
    float: left;
    cursor: pointer;
}

.droppable {
    border-radius: 4px;
    border: 1px dashed royalblue;
    color: white;    
}

.droppable.enter {
    background-color: royalblue;
}

.book:hover {
    background: #1b1b1b;
}

.book img {
    width: 110px;
    height: 155px;
    display: block;
}

.book img:hover + .remove-book-btn,
.remove-book-btn:hover {
    display: block;
}

.remove-book-btn {
    width: 25px;
    height: 25px;
    display: none;
    float: right;
    padding: 0px;
    position: relative;
    border-radius: 3px;
    margin: -30px 5px 0px 0px;
    background: #CF000F url(../img/trash.png) no-repeat center;
}

.book > .title,
.book > .author {
    display: block;
    width:100px;
    padding: 3px 3px 0 3px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.book > .title {
    font-size: 12px;
    color: #fff;
}

.book > .author {
    font-size: 11px;
    color: #eee;
}

.book-viewer {
    position: relative;
    float: left;
    width: 100%;
    height: calc(100% - 50px);
}

#book-viewer-iframe{
    border: 0;
}

.update_check {
    position: fixed;
    padding: 10px 20px;
    height: 50px;
    color: white;
    background-color: #1b1b1b;
    top: calc(100% - 50px);
    left: 0;
    right: 0;
    bottom: 0;
}

.update_check span {
    padding: 3px;
    display: block;
    float: left;
}

.update_check button {
    float: right;
    border-radius: 3px;
    background-color: royalblue;
    padding: 5px 10px;
    color: white;
    font-size: 14px;
}

.update_check button:hover {
    background-color: #2951c7;
}